<!DOCTYPE html>
<html>
<head>
    <title>RFID-GUI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
	<script>
		setInterval("auto_reload();", 3000);
		function auto_reload(){
			window.location = location.href;
		}
	</script>
</head>
<body>

<div style="padding-top: 40px;background-color:#ffffff;padding-bottom:300px;margin: 30px 30px 30px 30px;">
    <div style="margin-left:100px;margin-right:100px;">
	<h2>Status</h2>
	<hr>
	<div class="card">
		<div class="card-body">
			Total Income: P {{ income }}.00
		</div>
	</div>
	<br>
        <h2>Passenger Details</h2>
        <hr>
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">Lat</th>
                <th scope="col">Lon</th>
                <th scope="col">UID</th>
            </thead>
            <tbody>
                {% for obj in object_list %}
                <tr>
                    <td>{{ obj.lat }}</td>
                    <td>{{ obj.lon }}</td>
                    <td>{{ obj.uid }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
